// Color variables
$white: #fff;
$primary-color: hsl(257, 40%, 49%);
$btn-shd-color: black;

// Background property
$bck-size: cover;

// Image property
$m-width: 100%;

// Breakpoints
$medium: "(min-width: 1000px)";
$large: "(min-width: 1024px)";
